@import "stylesheets/globals.scss";

$highlightColor: '#E91E63';
$highlightBgColor: '#00bcd4';
$defaultSelected: 'sales';

.navbar{
  background: $darkBlue;
  color: white;
  width: 22;
  @include PrimaryFont();
}
